body{
    background: #2980b9;
    padding: 0px;
}

#preview{
    border: 2px solid white;
}

#info{
    margin-top: 10px;
}

.info{
    background: #ecf0f1;
    /* box-shadow: -5px 5px 10px #333; */
    border: 1px solid #000;
    color: #000;
    padding: 10px;
}

li{
    list-style: none;
}

ul{
    margin-bottom: 0;
}

.warn{
    margin-top: 10px;
    width: 100%;
    padding: 2px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
