body, html {
  background: url('../images/bg2.png');
  background-repeat:no-repeat;
  background-size:100% 110%;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
}
ul, ol {
    margin: 20px 0;
    padding: 0;
}
ol li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    list-style: decimal outside none;
    margin-left: 20px;
  color: rgba(95,117,137,1);
}
ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  list-style: square outside none;
  margin-left: 20px;
  color: rgba(95,117,137,1);
}
ul li a, ol li a {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease-in 0s;
}
a:link, a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
h1 {
  color: #FFFFFF;
  letter-spacing: -3px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  line-height: 1em;
  font-weight: 700;
  padding: 0 0 30px 0;
  margin: 0;
}

.social ul li{
  font-size: 24pt;
  list-style: none;
  display: inline;
}

.social ul li a{
  color: #FFF;
}

.social ul li a{
  text-decoration: none;  
}

.card{
  padding: 10px;
  text-align: justify;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.photo{
  margin: 0 auto; 
  width: 17em; 
  display: table;
}

#content{
  margin-top: 1em;
}

.circle{
  border-radius: 50%;
}

.page{
  height: 100%;
  padding: 5%;
  border-bottom: 1px solid #ccc; 
}

.page:first-child{
  margin-top: 2em;
}

.page:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

body, .page{
  background: #011B1F;
}
/*
==============================================
Responsive Styling
==============================================
*/
@media all and (max-width: 1290px)  {
  h1 {font-size: 65px; }
}

@media all and (max-width: 769px)  {
  .photo{width: 16em;}
}

@media all and (max-width: 361px) {
  .left-content, .right-content{display: block; width: 100%; float: none;}
  .menu ul li{margin-left: 16px;}
  .photo{width: 15em;}
  .social ul li{font-size: 22pt;}
  #content{text-align: center;}
}

@media all and (max-width: 321px) {
  .social ul li{font-size: 12pt;}
  .menu ul li{margin-left: 12px;}
  .name{font-size: 24pt;}
}